<!DOCTYPE html>
<html>

<head>
    <title>Campus Bookflow</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header>
        <h1>Campus Bookflow</h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="books.html">Browse Books</a>
            <a href="sell.html">Sell Book</a>
            <a href="login.html">Login</a>
        </nav>
    </header>

    <section>
        <h2>Buy & Sell Second Hand Books</h2>
        <p>Find affordable books from your campus.</p>

        <button>Browse Books</button>
    </section>

    <section>
        <h2>Featured Books</h2>

        <div>
            <h3>Data Structures</h3>
            <p>Price: ₹200</p>
            <button>View Details</button>
        </div>

        <div>
            <h3>Operating System</h3>
            <p>Price: ₹150</p>
            <button>View Details</button>
        </div>

    </section>

    <footer>
        <p>© 2026 Campus Bookflow</p>
    </footer>

</body>

</html>